h1 {
    text-shadow: -1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px 1px 0 #2b2b2b, 1px 1px 0 #2b2b2b;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.clapperboard {
    color: #2b2b2b;
    text-shadow: none;
}