html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #2b2b2b;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #ebebeb;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
footer {
  font-family: "Baskervville", serif;
  background-color: #d6003d;
  color: #ebebeb;
}

h1 {
  text-shadow: -1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px 1px 0 #2b2b2b, 1px 1px 0 #2b2b2b;
  height: 100px;
  line-height: 70px;
  font-size: 2rem;
  padding: 20px;
  margin: 10px;
}
h1:hover {
  text-shadow: 0 0 7px #ebebeb, 0 0 10px #ebebeb, 0 0 21px #ebebeb, 0 0 42px #f50248, 0 0 82px #f50248, 0 0 92px #f50248, 0 0 102px #f50248, 0 0 151px #f50248;
}

.clapperboard {
  color: #2b2b2b;
  text-shadow: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  background-color: #d6003d;
  color: #ebebeb;
}

form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input {
  width: 40%;
  height: 30%;
  background-color: #2b2b2b;
  border: 2px solid #ebebeb;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
  outline: 0;
}
form input::-webkit-input-placeholder {
  color: #ebebeb;
}
form input::-moz-placeholder {
  color: #ebebeb;
}
form input:-ms-input-placeholder {
  color: #ebebeb;
}
form input::-ms-input-placeholder {
  color: #ebebeb;
}
form input::placeholder {
  color: #ebebeb;
}
form button {
  background-color: #2b2b2b;
  color: #ebebeb;
  border: none;
  position: absolute;
  left: 63%;
}
form button:hover, form button:focus {
  outline: 0;
  text-shadow: 0 0 7px #ebebeb, 0 0 10px #ebebeb, 0 0 21px #ebebeb, 0 0 42px #f50248, 0 0 82px #f50248, 0 0 92px #f50248, 0 0 102px #f50248, 0 0 151px #f50248;
}

.genreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

select {
  outline: 0;
  width: 40%;
  background-color: #ebebeb;
  border: 2px solid #d6003d;
  border-radius: 50px;
  color: #2b2b2b;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.actionMovies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.actionMovies img {
  width: 200px;
  height: auto;
  -webkit-box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.actionMovies h3,
.actionMovies p {
  width: 200px;
  padding: 0.5rem;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}
.actionMovies h3 {
  height: 1.2rem;
}
.actionMovies p {
  font-size: 0.8rem;
  height: 300px;
  overflow: scroll;
}

.popularPeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.popularPeople img {
  width: 200px;
}
.popularPeople p {
  font-size: 1rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

footer {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer h5 {
  text-shadow: -1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px 1px 0 #2b2b2b, 1px 1px 0 #2b2b2b;
  font-size: 3rem;
}
footer h5:hover {
  text-shadow: 0 0 7px #ebebeb, 0 0 10px #ebebeb, 0 0 21px #ebebeb, 0 0 42px #f50248, 0 0 82px #f50248, 0 0 92px #f50248, 0 0 102px #f50248, 0 0 151px #f50248;
}
footer p {
  font-family: "Lato", sans-serif;
}
footer a {
  color: #ebebeb;
  text-decoration: none;
}
footer a:hover, footer a:focus {
  text-shadow: 0 0 7px #ebebeb, 0 0 10px #ebebeb, 0 0 21px #ebebeb, 0 0 42px #f50248, 0 0 82px #f50248, 0 0 92px #f50248, 0 0 102px #f50248, 0 0 151px #f50248;
  outline: 0;
}